#head {
  background-color: #27233A;
  height: 60px; }

#title {
  color: #EAEFD3;
  font-family: 'VT323', monospace;
  font-size: 75px; }

#headerTitle {
  color: #d1bf94;
  font-family: 'Roboto Slab', serif; }

#leftTitle {
  color: #d1bf94;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  padding-left: 50px; }

#postPage {
  color: #EAEFD3;
  background-color: #27233A; }

body {
  background: linear-gradient(rgba(204, 204, 204, 0.1), rgba(204, 204, 204, 0.1)), url("/img/compRSZ.jpg") repeat;
  background-position: 0 auto;
  background-size: 0/50% auto; }

#showposts {
  color: #d1bf94; }

/*
 *  CARD PANEL SETTINGS
 */
div.card-panel a#read-comments,
div.card-panel code,
div.card-panel span {
  display: block; }

/* div.card-panel h3 {
  display: inline-block;
} */
div.card-panel h3 {
  font-size: 27px; }

div.submit {
  color: #EAEFD3; }

div.card-panel a#read-comments {
  margin-top: 50px;
  text-align: center; }

code {
  background: rgba(253, 253, 253, 0.4);
  padding: 10px;
  margin-top: 30px; }

.hide {
  display: none; }

div.card-panel {
  background-color: rgba(253, 253, 253, 0.4); }

#read-comments {
  font-size: 20px;
  color: #27233A; }

div.card-panel span.rating {
  font-size: 17px;
  font-weight: bold; }

div.card-panel span.user {
  font-weight: bold;
  margin: 15px 0px; }

a.vote {
  font-size: 40px;
  display: inline; }

textarea.newText {
  height: 100px;
  font-size: 20px;
  background-color: rgba(253, 253, 253, 0.4); }
