#head {
  background-color: #27233A;
  height: 60px; }

#title {
  color: #EAEFD3;
  font-family: 'VT323', monospace;
  font-size: 75px; }

#headerTitle {
  color: #d1bf94;
  font-family: 'Roboto Slab', serif; }

#leftTitle {
  color: #d1bf94;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  padding-left: 50px; }

label {
  color: #d1bf94;
  font-size: 25px;
}

input {
  color: #d7a674;
  font-size:25px;
}

.submit {
  color: #27233A
}

body {
  background: linear-gradient(rgba(204, 204, 204, 0.1), rgba(204, 204, 204, 0.1)), url("/img/compRSZ.jpg") repeat;
  background-position: 0 auto;
  background-size: 0/50% auto; }
