@charset "utf-8";


$purple: #27233A;
$lightpurple: #505168;
$ash: #B3C0A4;
$eggshell: #EAEFD3;
$palegold: rgb(209, 191, 148);
$matteBlack: #cccccc;




#head {
background-color: $purple;
height: 60px;
}

#title  {
  color: $eggshell;
  font-family: 'VT323', monospace;
  font-size: 75px;
}

#headerTitle {
  color: $palegold;
  font-family: 'Roboto Slab', serif;
}
#leftTitle {
  color: $palegold;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  padding-left: 50px;
}

body {
background: linear-gradient( transparentize($matteBlack, 0.90),
transparentize($matteBlack, 0.90)),
url('/img/compRSZ.jpg') repeat;
background-position: 0 auto;
background-size: 0/50% auto;
}
