@charset "utf-8";


$purple: #27233A;
$lightpurple: #505168;
$ash: #B3C0A4;
$eggshell: #EAEFD3;
$palegold: rgb(209, 191, 148);
$matteBlack: #cccccc;



#head {
background-color: $purple;
height: 60px;
}

#title  {
  color: $eggshell;
  font-family: 'VT323', monospace;
  font-size: 75px;
}

#headerTitle {
  color: $palegold;
  font-family: 'Roboto Slab', serif;
}
#leftTitle {
  color: $palegold;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  padding-left: 50px;
}

body {
background: linear-gradient( transparentize($matteBlack, 0.90),
transparentize($matteBlack, 0.90)),
url('/img/compRSZ.jpg') repeat;
background-position: 0 auto;
background-size: 0/50% auto;
}
#showposts {
  color: $palegold;
}
/*
 *  CARD PANEL SETTINGS
 */

div.card-panel a#read-comments,
div.card-panel code,
div.card-panel span {
  display: block;
}

/* div.card-panel h3 {
  display: inline-block;
} */

div.card-panel h3 {
  font-size: 27px;
  
}
// div.card {
//   background: rgba(253, 253, 253, 0.4);
//   padding: 10px;
//   margin: 100px;
// }


div.submit {
  color: $eggshell;
}

div.card-panel a#read-comments {
  margin-top: 50px;
  text-align: center;
}

code {
  background: rgba(253, 253, 253, 0.4);
  padding: 10px;
  margin-top: 30px;
}


div.card-panel {
  background-color: rgba(253, 253, 253, 0.4);
}
#read-comments {
  font-size: 20px;
  color: $purple;
}
div.card-panel span.rating {
  font-size: 17px;
  font-weight: bold;
  display: block;
  width: 45px;
  margin: auto;
  padding: 10px 17px;
  background: $lightpurple;
  border-radius: 50px;
}

div.card-panel span.user {
  font-weight: bold;
  margin: 15px 0px;
}
